<%- include('partials/headerone') -%>

  <br><br>
  <h3>Please Enter the PIN CODE of the branch's information you want</h3>
  <br>
  <form class="" action="/branchfind" method="post">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" name="pincode">
    </div>
    <br>
    <button class="btn btn-primary" type="submit" name="button">ENTER</button>
  </form>
  <br><br>

  <% if(finding){ %>

    <p>Branch ID: <%= value[0].Branch_ID %></p>
    <p>City: <%= value[0].City %></p>
    <p>State: <%= value[0].State %></p>
    <p>Phone number: <%= value[1].Telephone %></p>

  <% }; %>

<%- include('partials/footerone') -%>
