<%- include('partials/headertwo') -%>

  <h1>Unresolved Services to be provided</h1>


    <form action="/resolveser" method="post">
      <% for(var i = 0; i< results.length; i++){ %>
        <br><br>
        <div class="form-check">
          <p>Service ID: <%= results[i].ID %></p>
          <p>Customer ID: <%= results[i].CustomerID %></p>
          <p>Description: <%= results[i].Service_Description %></p>
          <p>Time of Request: <%= results[i].DORQ %></p>
        </div>
      <% }; %>
      <br><br><br>
      <input class="form-control" type="text" name="resolved" placeholder="Enter the service id to be resolved!">
      <br><br> 
      <button class = "btn btn-primary" type="submit" name="button">SUBMIT</button>
    </form>
